html, body, div {
  margin: 0;
  padding: 0;
}

.frame {
  text-align: center;
  position: relative;
  min-height: 400px;

}
.frame div {
  position: absolute;
  left: 50%;
  top: 50%;
}

#sunrise {
  background-color:#1c1c1c;
}
.sunrise {
  width: 400px;
  height: 300px;
  margin-top: -150px;
  margin-left: -200px;
  background-image:
    radial-gradient(circle at 50% 80%, #e5f73a,  #e5f73a 40%, transparent 43%, transparent),
    linear-gradient(to right, #e5f73a 8%, transparent 10%, transparent 18%, #e5f73a 23%, #e5f73a 32%, transparent 34%, transparent 38%, #e5f73a 40%, #e5f73a 100%),
    linear-gradient(to right, #e5f73a 65%, transparent 67%, transparent 72%, #e5f73a 74%, #e5f73a 79%, transparent 81%, transparent 85%, #e5f73a 87%, #e5f73a 100%),
    linear-gradient(to right, #e5f73a 60%, transparent 62%, transparent 67%, #e5f73a 69%, #e5f73a 79%, transparent 80%)
    ;
  background-size: 120%, 120px 2px, 120px 2px, 100px 2px;
  background-repeat: no-repeat;
  background-position: center -70px, 30px 250px, 260px 240px, 200px 280px;
}


@media all and (min-width: 650px) and (max-width:959px) {
  .frame {
    float:left;
    width: 100%;
  }
}

@media (min-width: 960px) {
  .entry {
    float: left;
    width: 50%;
  }
}


